@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://db.onlinewebfonts.com/c/e1d478a18afb28d52a30561e06724de2?family=BODAR');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000d7;
}

nav {
    height: 5rem;
    max-width: auto;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    font-size: calc(1.1vw + 1.1vh);
    position: relative;
    padding-bottom: 0.75rem;
    color: white
}
.link a:hover {
    width: 100%;
    color: #8f8059;
}
.link a::after {
    content: "";
    position: relative;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transition: all 0.3s ease;
}
.btn {
    padding: 1rem 2rem;
    font-size: calc(1.1vw + 1.1vh);
    color: white;
    background-color: #8f8059;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: #332f23;
}
/* sidebar */
.menu-icon {
    color: #8f8059;
    font-size: calc(2.5vw + 2.5vh);
    cursor: pointer;
    display: none;
}
.sidebar {
    align-items: center;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #332f23;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 1000;
}

.sidebar a {
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: calc(2.1vw + 2.1vh);
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    color: white;
}
/* Service Container */
.service {
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    background-color: #afa39000;
    display: flex;
    z-index: 1;
}
.service-container {
    text-align: center;
    width: 100%;
    height: 100%;
}
.service-title {
    font-size: calc(3.2vw + 3.2vh);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.service-left-1 img,
.service-left-1-content {
    color: white;
    max-width: 50%;
    width: 25%;
}
/* sliding window animation */
.container {
    display: flex;
}
.image-container {
    margin: 20px;
    border-radius: 20px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #8f8059a6;
    width: 100%;
    height: 100%;
}
.grid-left {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}
.grid-right {
    align-items: center;
    margin: 10px;
}
.grid-left {
    align-items: center;
    margin: 0px;
}
.grid-left,
.grid-right {
    max-width: 100%;
}
.slides-1,
.slides-2,
.slides-3,
.slides-4,
.slides-5 {
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    display: block;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.grid-right h1 {
    margin-top: 20px;
    color: white;
    font-family: 'BODAR';
    text-align: center;
    font-size: calc(2.2vw + 2.2vh);
    margin-right: 1rem;
}
.grid-right p {
    margin-bottom: 20px;
    color: white;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
    position: relative;
    font-family: 'Montserrat';
    text-align: center;
    font-size: calc(1.5vw + 1.5vh);
}
.grid-right button {
    font-size: calc(1.1vw + 1.1vh);
    font-family: 'Montserrat';
    padding: 10px 20px;
    border: none;
    background-color: #8f8059;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.grid-right button:hover {
    background-color: #332f23;
}
/* footer */
.footer {
    font-size: calc(1.1vw + 1.1vh);
    background-color: #2c2c2c;
    color: white;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;  
    align-content: space-between;
}
.footer-links {
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-between;
}

.footer-links div {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.footer-links div:hover {
    text-decoration: underline;
}
.social{
    
    padding: 30px 30px 30px 30px;
}
.social-icon {
    display: inline-flex;
    padding: 20px 20px 20px 20px;
}
.social-icon:hover {
    filter: invert(1);
    cursor: pointer;
}

.footer-bottom {
    font-family: 'Montserrat';
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid #444;
}
.footer-bottom {
    padding: 20px;
    cursor: default;
}
.footer-bottom p {
    margin: 0px;
    font-size: calc(1.1vw + 1.1vh);
}

@media (width < 800px){
    .nav-links{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .btn {
        display: none;
    }
    .sidebar {
        display: block;
    }
    .grid-right h1 {
        font-size: 1.7rem;
    }
    .grid-right p {
        font-size: 1rem;
    }
}